@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #343539;
  font-family: "HelveticaNeue";
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: #343539;
}

.main__title {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  margin: 40px 28px 22px 16px;
}

.step {
  margin: 0 16px 40px;
}

.step--time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 728px;
}

.step__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.step__title--number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  color: #ffffff;
  background: #EF483E;
  border-radius: 50%;
  margin-right: 8px;
}

.step__title--text {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24.42px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.step__input--text {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.51px;
  color: #ffffff;
  margin: 16px 0 8px 0;
}

.step__input--input {
  height: 44px;
  min-width: 343px;
  width: 100%;
  max-width: 728px;
  margin: 0;
  padding: 0;
}

.step__input--input--temperature {
  width: 165px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 14px;
}

.step__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 356px;
}

.step__select--name {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.51px;
  color: #ffffff;
  margin: 16px 0 8px 0;
}

.step__select--select {
  position: relative;
  background: #ffffff;
  border: 1px solid;
  width: 165px;
  height: 44px;
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
  color: #000000;
  padding-left: 14px;
}

.checkbox {
  margin: 20px 0 0 0;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__label {
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.51px;
  color: #ffffff;
  padding: 5px 0 0 36px;
  cursor: pointer;
}

.checkbox__label::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox__label::after {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  background: url(../img/check.svg);
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 8px;
  left: 7px;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__label::before {
  background: #EF483E;
}

.step__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 728px;
}

.step__address:hover {
  cursor: pointer;
}

.step__address--input {
  position: relative;
  width: 100%;
  max-width: 728px;
  height: 44px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  background: #717174;
  border: none;
  margin: 0 0 4px 0;
  padding-left: 36px;
}

.step__address--input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.step__address--input::-moz-placeholder {
  color: #c4c4c4;
}

.step__address--input:-ms-input-placeholder {
  color: #c4c4c4;
}

.step__address--input::-ms-input-placeholder {
  color: #c4c4c4;
}

.step__address--input::placeholder {
  color: #c4c4c4;
}

.step__address::after {
  width: 100%;
  max-width: 728px;
  height: 44px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(75, 75, 79, 0)), color-stop(rgba(75, 75, 79, 0)), color-stop(rgba(75, 75, 79, 0)), color-stop(#4b4b4f), color-stop(#4b4b4f), to(#4b4b4f));
  background: -o-linear-gradient(left, rgba(75, 75, 79, 0), rgba(75, 75, 79, 0), rgba(75, 75, 79, 0), #4b4b4f, #4b4b4f, #4b4b4f);
  background: linear-gradient(to right, rgba(75, 75, 79, 0), rgba(75, 75, 79, 0), rgba(75, 75, 79, 0), #4b4b4f, #4b4b4f, #4b4b4f);
}

.step__address::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: 'Не выбрано';
  z-index: 3;
  width: 92px;
  height: 16px;
  border-radius: 2px;
  padding: 4px 14px 4px 13px;
  color: #ffffff;
  background: #717174;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.51px;
  text-align: center;
  letter-spacing: 5%;
}

.input__img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 1;
}

.textarea {
  min-width: 343px;
  width: 100%;
  max-width: 728px;
  height: 80px;
  padding: 13px 0 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textarea::-webkit-input-placeholder {
  padding: 0 15px 0 0;
  color: #CFCFCF;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
}

.textarea::-moz-placeholder {
  padding: 0 15px 0 0;
  color: #CFCFCF;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
}

.textarea:-ms-input-placeholder {
  padding: 0 15px 0 0;
  color: #CFCFCF;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
}

.textarea::-ms-input-placeholder {
  padding: 0 15px 0 0;
  color: #CFCFCF;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
}

.textarea::placeholder {
  padding: 0 15px 0 0;
  color: #CFCFCF;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
}

.message {
  background: #4B4B4F;
  margin: 0 16px 37px;
  min-width: 343px;
  max-width: 728px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message__text {
  color: #ffffff;
  margin: 24px 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 165px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options-container1,
.options-container2,
.options-container3 {
  color: #000000;
  background: #ffffff;
  width: 100%;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.active {
  max-height: 100%;
  opacity: 1;
}

.selected1,
.selected2,
.selected3 {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17.89px;
  padding: 13px 0 13px 12px;
  height: 44px;
  color: #000000;
  background: #ffffff;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selected1::after,
.selected2::after,
.selected3::after {
  content: '';
  background: url(../img/arrow.svg);
  position: absolute;
  width: 8px;
  height: 5px;
  top: 19px;
  right: 20px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.active + .selected1::after,
.active + .selected2::after,
.active + .selected3::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.option1,
.option2,
.option3,
.labelq,
.selected1,
.selected2,
.selected3 {
  cursor: pointer;
}

.option1:hover,
.option2:hover,
.option3:hover {
  color: #ffffff;
  background: #EF483E;
}

input[type=radio] {
  display: none;
}

.option1,
.option2,
.option3 {
  height: 28px;
  padding: 11px 0 1px 12px;
}

@media screen and (min-width: 390px) {
  .select-box {
    width: 172px;
  }
}

@media screen and (min-width: 1087px) {
  .message {
    position: absolute;
    top: 105px;
    left: 760px;
    margin: 0;
    padding: 0;
    width: 343px;
  }

  .message__text {
    margin: 0;
    padding: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .message {
    width: 356px;
  }
}